<?xml version="1.0" encoding="UTF-8"?>
 
   <configuration>
     <system.webServer>
       <rewrite>
         <rules>
           <rule name="ProxyToFastAPI" stopProcessing="true">
             <match url="(.*)" />
             <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
           </rule>
           <rule name="Static Files" stopProcessing="true">
             <conditions>
               <add input="{REQUEST_FILENAME}" matchType="IsFile" />
             </conditions>
             <action type="None" />
           </rule>
           <rule name="Dynamic Content" enabled="true">
             <conditions>
               <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
             </conditions>
             <action type="Rewrite" url="wfastcgi.py" />
           </rule>
         </rules>
       </rewrite>
     </system.webServer>
     <appSettings>
       <add key="WSGI_HANDLER" value="DeploymentServer.app" />
       <add key="PYTHONPATH" value="E:\Smartkidz\PRESchool-Backend-project\app" />
     </appSettings>
   </configuration>
